PUBLIC_SUPABASE_URL=https://zdlwmjpviualqyikgzlz.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkbHdtanB2aXVhbHF5aWtnemx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDIzNDQ1MDksImV4cCI6MjA1NzkyMDUwOX0.SW5Bn5Bor02tznRTpy3sQDS7Jxp6wiYDXJZBqrAyer8
PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkbHdtanB2aXVhbHF5aWtnemx6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MjM0NDUwOSwiZXhwIjoyMDU3OTIwNTA5fQ.6aAMxZtK8drO5reMeoioX4w1ROJq35JWr7y6YLs5gzM

# Zoho Email SMTP Configuration
SMTP_HOST=smtp.zoho.com
SMTP_PORT=587
SMTP_USER=contact@domify.app
SMTP_PASS=fa6l?ySi

FROM_EMAIL=contact@domify.app


